<div class="container">
  <h1>Chatter</h1>
  <p>Chatrooms + Direct Messages</p>
  <p>Rails 7 Demo</p>
  <% if current_user %>
    <%= image_tag(current_user.chat_avatar) if current_user.avatar.attached?%>
    <%= link_to "Start Chatting", rooms_path, turbo:'false', class:'btn btn-dark' %>
    <br>
    <%= link_to "Edit Account", edit_user_registration_path, class:'btn btn-secondary' %> |
    <%= button_to "Logout", destroy_user_session_path, method: :delete, class:'btn btn-danger' %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path, class:'btn btn-secondary' %>
    <%= link_to "Login", new_user_session_path, class:'btn btn-primary' %>
  <% end %>
</div>
 